button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
  --bg: var(--accent10);
  --color: var(--accent1);
  --focus: var(--accent8);
  border: 0;
  background: var(--bg);
  color: var(--color);
  border-radius: 0.25rem;
  padding: 0 var(--space-2xs);
  text-decoration: none;
  line-height: 1.7;
  font-size: var(--step--1);

  &:hover {
    background: var(--accent8);
  }

  &.secondary {
    --bg: var(--theme10);
    --color: var(--theme1);
    --focus: var(--theme8);
  }
}
