@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button,
input[type='submit'],
input[type='button'],
input[type='reset'] {
  --bg: var(--accent10);
  --color: var(--accent1);
  --focus: var(--accent8);
  --padding: 0 var(--space-2xs);
  --font-size: var(--step--1);
  --border-radius: 0.25rem;
  --line-height: 1.7;
  border: 0;
  background: var(--bg);
  color: var(--color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  text-decoration: none;
  line-height: var(--line-height);
  font-size: var(--font-size);
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  gap: var(--space-3xs);
  font-family: var(--f-base);

  i.loading {
    animation: spin 1s linear infinite;
  }

  &:not([disabled]) {
    [aria-pressed='true'],
    &:hover {
      --bg: var(--focus);
    }
  }

  &.j-btn-secondary {
    --bg: var(--theme10);
    --color: var(--theme1);
    --focus: var(--theme8);
  }

  &.j-btn-ai {
    --bg: transparent;
    --color: var(--accent10);
    --focus: var(--accent11);
    --padding: 0 var(--space-2xs);
    --font-size: var(--step--3);
    --line-height: 1.7;
    --border-radius: 2rem;
    --border: var(--accentA7);
    border: 1px solid var(--border);

    &[disabled][aria-pressed='true'],
    &:not([disabled]):hover {
      --color: var(--focus);
      --bg: var(--accentA5);
      --border: var(--accentA11);
    }

    &[disabled] {
      opacity: 0.5;
    }

    &[disabled][aria-pressed='true'] {
      opacity: 1;
    }
  }
}
