.j-container {
  max-width: 1400px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--space-m);
  padding-inline-end: var(--space-m);
}

.j-container-padded {
  max-width: 1400px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

.j-flex-centre {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
