:root {
  --bg: var(--accent2);
  --text: var(--accent12);
  --color-nav: theme(colors.zinc.700);
  --color-nav-active: theme(colors.zinc.800);
  --border: var(--accent5);
  --f-base: Mona Sans, system-ui, sans-serif;
  --f-mono: JetBrains Mono, SF Mono, Menlo, Monaco, Courier New, monospace;
}
