/* Radix colours from https://www.radix-ui.com/docs/colors/palette-composition/the-scales */
:root {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
  --indigo1: hsl(225, 60%, 99.4%);
  --indigo2: hsl(223, 100%, 98.6%);
  --indigo3: hsl(223, 98.4%, 97.1%);
  --indigo4: hsl(223, 92.9%, 95%);
  --indigo5: hsl(224, 87.1%, 92%);
  --indigo6: hsl(224, 81.9%, 87.8%);
  --indigo7: hsl(225, 77.4%, 82.1%);
  --indigo8: hsl(226, 75.4%, 74.5%);
  --indigo9: hsl(226, 70%, 55.5%);
  --indigo10: hsl(226, 58.6%, 51.3%);
  --indigo11: hsl(226, 55%, 45%);
  --indigo12: hsl(226, 62%, 17%);

  --color-yellow: #ffd200;
  --color-accent: hsl(334, 86%, 48%);

  --bg: var(--slate1);
  --text: var(--slate11);
  --color-nav: theme(colors.zinc.700);
  --color-nav-active: theme(colors.zinc.800);
  --border: var(--slate5);
  --f-base: Mona Sans, system-ui, sans-serif;
  --f-mono: Comic Code, JetBrains Mono, SF Mono, Menlo, Monaco, Courier New,
    monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Radix colours */
    --slate1: hsl(200, 7%, 8.8%);
    --slate2: hsl(195, 7.1%, 11%);
    --slate3: hsl(197, 6.8%, 13.6%);
    --slate4: hsl(198, 6.6%, 15.8%);
    --slate5: hsl(199, 6.4%, 17.9%);
    --slate6: hsl(201, 6.2%, 20.5%);
    --slate7: hsl(203, 6%, 24.3%);
    --slate8: hsl(207, 5.6%, 31.6%);
    --slate9: hsl(206, 6%, 43.9%);
    --slate10: hsl(206, 5.2%, 49.5%);
    --slate11: hsl(206, 6%, 63%);
    --slate12: hsl(210, 6%, 93%);
    --indigo1: hsl(229, 24%, 10%);
    --indigo2: hsl(230, 36.4%, 12.9%);
    --indigo3: hsl(228, 43.3%, 17.5%);
    --indigo4: hsl(227, 47.2%, 21%);
    --indigo5: hsl(227, 50%, 24.1%);
    --indigo6: hsl(226, 52.9%, 28.2%);
    --indigo7: hsl(226, 56%, 34.5%);
    --indigo8: hsl(226, 58.2%, 44.1%);
    --indigo9: hsl(226, 70%, 55.5%);
    --indigo10: hsl(227, 75.2%, 61.6%);
    --indigo11: hsl(228, 100%, 75.9%);
    --indigo12: hsl(226, 83%, 96.3%);
  }
}

/* .dark {

} */
